<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd6dab">  <td>24/01/02 11:50:17</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.TestTeardown()[pri:0, instance:Test_package.post_TC1@2e6a8155]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>24/01/02 11:50:17</td>   <td>-121</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Testsetup()[pri:0, instance:Test_package.post_TC1@2e6a8155]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345483087</td>   <td></td> </tr>
<tr bgcolor="dd6dab">  <td>24/01/02 11:50:17</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.post_executor()[pri:0, instance:Test_package.post_TC1@2e6a8155]">post_executor</td> 
  <td>main@1345483087</td>   <td></td> </tr>
</table>
